/*  your css code here. If applicable */
*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}
.button{
	border:1px solid black;
	border-radius:3px;
	background-color:rgba(240 240 240);
    font-weight:500;
	text-decoration:none;
	position:relative;
	top:20px;
	left:10px;
	padding:5px;
	color:black;
}

.modal{
	display:none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
	background-color:white;
	width:80vw;
	height:80px;
	margin-left:70px;
	position:relative;
	top:100px;
}

.modal-header>h2{
	text-align:left;
	background-color:greenyellow;
	position:relative;
	top:10px;
	left:25px;
	width:90%;
}

.modal-body{
	position:relative;
	top:20px;
	left:25px;
}

.modal:target{
	display:flex;
}

.close{
	text-decoration:none;
	color:grey;
	position:absolute;
	font-size:18px;
	font-weight:900;
	top:40px;
    right:30px;
	cursor:pointer;
}
.close:hover{
	color:black;
}

